<div
  class="container-fluid align-items-center d-flex justify-content-center ml-5 pl-5"
>
  <form
    (ngSubmit)="updateProduct()"
    #editForm="ngForm"
    *ngIf="product"
    class="align-items-center justify-content-center"
  >
    <h2
      class="text-danger text-center mb-5 d-flex justify-content-center ml-5 pl-5"
    >
      Edit Product
    </h2>
    <div class="form-group">
      <img [src]="product.images" style="width: 100px; height: 100px; display: inline-flexbox; justify-content: center;"><br/>
      <label for="brand" class="mb-2"> Name:</label>  
      <input
        type="text"
        class="form-control"
        id="brand"
        name="brand"
        [(ngModel)]="product.en.brand" 
        required
      />
    </div>
  
    <div class="form-group">
      <label for="price" class="mb-2">Price:</label>
      <input
        type="text"
        class="form-control"
        id="price"
        name="price"
        [(ngModel)]="product.price"
        required
      />
    </div>
    <div class="form-group">
      <label for="quantity" class="mb-2">Quantity:</label>
      <input
        type="text"
        class="form-control"
        id="quantity"
        name="quantity"
        [(ngModel)]="product.quantityInStock"
        required
      />
    </div>
    <div class="form-group">
      <label for="catName" class="mb-2">Catigory Name:</label>
      <input
        type="text"
        class="form-control"
        id="catName"
        name="catName"
        [(ngModel)]="product.sku"
        required
      />
    </div>
    <div class="form-group">
      <label for="imageUrl" class="mb-2">Image Url:</label>
      <input
        type="text"
        class="form-control"
        id="imageUrl"
        name="imageUrl"
        [(ngModel)]="product.images"
        required
      />
    </div>

    <div class="form-group">
      <label for="ReviewTitle" class="mb-2">rating: ReviewTitle</label>
      <input
        type="text"
        class="form-control"
        id="ReviewTitle"
        name="ReviewTitle"
        [(ngModel)]="product.rating['0'].ReviewTitle"
        required
      />
    </div>
    <div class="form-group">
      <label for="ReviewTitleDetail" class="mb-2">rating: ReviewTitleDetail</label>
      <input
        type="text"
        class="form-control"
        id="ReviewTitleDetail"
        name="ReviewTitleDetail"
        [(ngModel)]="product.rating['0'].ReviewTitleDetail"
        required
      />
    </div>
    <div class="form-group">
      <label for="date" class="mb-2">rating: date</label>
      <input
        type="text"
        class="form-control"
        id="date"
        name="date"
        [(ngModel)]="product.rating['0'].date"
        required
      />
    </div>
    <div class="form-group">
      <label for="name" class="mb-2">rating: name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="product.rating['0'].name"
        required
      />
    </div>
    <div class="form-group">
      <label for="rate" class="mb-2">rating: name</label>
      <input
        type="text"
        class="form-control"
        id="rate"
        name="rate"
        [(ngModel)]="product.rating['0'].rate"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary m-5">Update Product</button>
  </form>
</div>
