<div class="container">
    <div class="d-flex flex-column gap-3">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Admin </h5>
              <h2 class="fw-bold text-success">Admin Name</h2>
              <h6 class="card-subtitle mb-2 text-muted">Admin Id</h6>
              <p class="card-text">Description : Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="d-flex gap-2">
                <button class="btn btn-sm btn-success" > Edit </button>
                <button class="btn btn-sm btn-danger"> Remove </button>
              </div>
            </div>
          </div>
    </div>
</div>