<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12">
      <h5 class="text-danger text-center mb-4">Product List</h5>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Category ID</th>
              <th scope="col">Quantity</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.en.title }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.categoryId }}</td>
              <td>{{ product.quantityInStock }}</td>
              <td>
                <button class="btn btn-outline-danger mr-2" (click)="deleteProduct(product.id)">
                  Delete
                </button>
                <button class="btn btn-outline-success" (click)="updateProduct(product.id, product)">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12 mt-5">
      <div class="card border-0 shadow p-3">
        <h5 class="text-warning text-center mb-3">Add Product</h5>
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="productObj.ar.title"
            placeholder="Name" required>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="price" name="price" [(ngModel)]="productObj.price"
            placeholder="Price" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="categoryId" name="categoryId" [(ngModel)]="productObj.categoryId"
            placeholder="Category ID" required>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="quantityInStock" name="quantityInStock"
            [(ngModel)]="productObj.quantityInStock" placeholder="Quantity" required>
        </div>
        <button type="button" class="btn btn-outline-success btn-block" (click)="addProduct()">Add Product</button>
      </div>
    </div>
  </div>
</div>